.info-table{
    margin-top: 2em;
    background-color: #f3f1f0;
    padding: 3em;
}

.more-finger{
    margin-top: 1em;
}

.more-info{
    margin-top: 1em;
    &__icon{
        color: var(--ornamets, green);
        font-size: 3rem;
    }

    &__items{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        margin: 0.6em 1em;
    }
}

.bold-item{
    font-weight: 600;
}

@media (min-width: 1px) and (max-width: 480px) {
    .info-table{
        padding: 1em;
    }

}

@media (min-width: 481px) and (max-width: 768px){
    .info-table{
        padding: 1em;
    }
}