.interactive{
    padding: 0;
}

.interactive-mobile{
    padding: 0;
}

.floors{
    padding: 0;
    margin-top: 5em;
}

.interactive-build {
    background-image: url('../assets/interactive.jpg');
    background-size: 100% 100%;
  }

.interactive-build-mobile {
    background-image: url('../assets/interactiveMobile.jpg');
    background-size: 100% 100%;
}

.interactive-ground{
    background-image: url('../assets/groundfloor.png');
    background-size: 100% 100%;
}
.interactive-first{
    background-image: url('../assets/firstfloor.png');
    background-size: 100% 100%;
}

.interactive-second{
    background-image: url('../assets/secondfloor.png');
    background-size: 100% 100%;
}
  path {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.3s;
  }
  
  svg a:hover path {
   fill:  var(--ornamets, green);
   opacity: 0.5;
   cursor: pointer;
  }

  svg a:hover .mask--unavailable{
    fill:  red;
    opacity: 0.5;
    cursor: pointer; 
  }

  .mask{
      z-index: 5;
  }

@media (min-width: 1px) and (max-width: 480px) {
    .interactive{
        display: none;
    }
    .interactive-mobile{
        margin-top: 7em;
    }
    .floors{
        margin-top: 7em;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .interactive{
        display: none;
    }
    .interactive-mobile{
        margin-top: 7em;
    }
    .floors{
        margin-top: 7em;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .interactive{
        display: none;
    }
    .interactive-mobile{
        margin-top: 7em;
    }
    .floors{
        margin-top: 7em;
    }
}

@media (min-width: 1025px) {
    .interactive-mobile{
        display: none;
    }
}