.interactive{
    padding: 0;
}

svg {
    background-image: url('../assets/interactive.jpg');
    background-size: 100% 100%;
  }
  path {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.3s;
  }
  
  svg a:hover path {
   fill:  var(--ornamets, green);
   opacity: 0.5;
   cursor: pointer;
  }

  .mask{
      z-index: 5;
  }

@media (min-width: 1px) and (max-width: 480px) {
    .interactive{
        margin-top: 5em;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .interactive{
        margin-top: 5em;
    }
}