#mapid{ 
    height: 400px; 
    filter: grayscale(90%);
}
/*
#mapid .leaflet-pane .leaflet-map-pane{
    filter: grayscale(0%);
} */
//leaflet-pane leaflet-marker-pane
//leaflet-marker-icon leaflet-zoom-animated leaflet-interactive