.locals-header{
    margin-top: 4em;
}

.locals{
    overflow-x: auto;
    border: none;
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar{
        height: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--ornamets, green);
    }
}

.table{
    width: 100%;
}

.table-header{
    color: #9a9a9a;
    font-size: 0.85rem;
    //border-bottom: 1px solid #e1e1e1;
    &__row{
        border: none;
    }
    &__item{
        cursor: pointer;
        text-align: center;
        padding: 10px 5px;
        margin: 10px;
    }
}

.table-body{
    font-size: 18px;

    &__row{
        border-bottom: 1px solid #e1e1e1;
    }
    &__item{
        padding: 8px;
        text-align: center;
    }

    &__button--ask{
        text-align: right;
    }
    &__button--book{
        text-align: left;
    }

    &__available{
        display: flex;
        align-items: center;
        background-color: #eef7e4;
        padding: 5px 20px 5px 30px;
        border-radius: 20px;
        position: relative;
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            background-color: var(--ornamets, green);
            border-radius: 50%;
        }
    }

    &__unavailable{
        @extend .table-body__available;
        
        &::after{
            background-color: red;
        }
        
    }

    &__booked{
        @extend .table-body__available;
        
        &::after{
            background-color: orange;
        }
    }

    &__file{
        color: var(--ornamets, green);
        font-size: 1.35em;
        cursor: pointer;
        transition: .5s;
        &:hover{
            color: var(--ornamets, green);
            opacity: 0.7;
        }
    }

  /*  &__buttons{
        display: flex;
        align-items: center;
    } */

    &__ask{
        padding: 10px 20px;
        color: var(--textBlack, black);
        border: 2px solid var(--ornamets, green);
        cursor: pointer;
        -webkit-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        transition: .6s;
        position: relative;
        &:hover{
            text-decoration: none;
            color: white;
            background-color: var(--ornamets, green);
        }
    }

    &__book{
        padding: 10px 20px;
        background-color: var(--ornamets, green);
        color: white;
        border: 2px solid var(--ornamets, green);
        cursor: pointer;
        -webkit-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.1);
        transition: .6s;
        &:hover{
            text-decoration: none;
            color: var(--textBlack, black);
            background-color: white;
        }
    }
}

.table td{
    vertical-align: unset;
}