:root{
    //cca665
    //3bb974 - tak jak z logo
    --ornamets: #3bb974;
    --textBlack: #231f20;
    --line: #e6e6e6;
    --logoBlue: #00aae8;
    --darker: #2F4858;
    --dark: #005F72;
    --counterLight: #676A8B;
    --counterLighter: #B38AAE;
    --light: #FAFAFF;
    --greyback: #FAFAFF;
    --greyinput: #A0A0A0;
    --scrollbarBG: #CFD8DC;
}