:root{
    //cca665
    //3bb974 - tak jak z logo
    --ornamets: #3bb974;
    --textBlack: #231f20;
    --line: #e6e6e6;

    --light: #FAFAFF;
    --greyback: #FAFAFF;
    --greyinput: #A0A0A0;
    --scrollbarBG: #CFD8DC;
}