@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "./abstracts/variables.scss";
@import "./components/baner.scss";
@import "./components/navigation.scss";
@import "./components/information.scss";
@import "./components/infoTable.scss";
@import "./components/popup.scss";
@import "./components/locals-table.scss";
@import "./components/interactive.scss";
@import "./components/location.scss";
@import "./components/standard.scss";
@import "./components/photoSection.scss";
@import "./components/footer.scss";
@import "./components/facebook.scss";
@import "./components/cookies.scss";
@import "./components/validate.scss";
@import "./components/fast-phone.scss";

body{
    font-family: "Raleway", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--ornamets) var(--scrollbarBG);
}
body::-webkit-scrollbar {
    width: 11px;
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--ornamets) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

*{
    scroll-behavior: smooth;
}

.pdf-files-none{
    display: none;
}